/*=== EVENTOS GLOBAIS ===*/
<body onerror="">/* quando ocorre um erro*/
<body onhaschange=""> /*após o documento ser carregado*/
<body onmessage=""> /*eucuta após a ação da messagem*/
<body onoffline=""> /*quando o documento estiver offline*/
<body onpagehide=""> /*qunado a página está escondida*/
<body onpageshow=""> /*quando a pagina se torna visível*/
<body onresize=""> /*dispara quando a a tela é redimencionada*/
<body onstorage=""> /*quando área de armazenamento web é atualizada*/

/*=== EVENTOS DE FORMULÁRIOS ===*/
<input onblur="">/*dispara qunado o elemento perde o foco*/
<input onchange="">/*dispara ao alterar o valor do elemento*/
<input ontextmenu="">/*dispara quando o menu de contento é acionado*/
<input onfocus=""> /*dispara no momento em que o elemento entra em foco*/
<input onformchange=""> /*dispara quando se faz alterações no formulário*/
<input onforminput=""> /*dispara o formulário recebe entrada*/
<input oninvalid=""> /* dispara qundo o elemento é invalido*/
<input onselect=""> /*dispara qundo algum tento for selecionado no elemento*/
<input onsubmit=""> /*dispara quando um formulário é enviado*/

/*=========== EVENTOS DE TECLADO ===================*/
<input onkeydown="">/*dispara após o usuário pressionar uma tecla*/
<input onkeypress=""> /*dispara quando uma tecla é pressionada*/
<input onkeyup=""> /*dispara após o usuário soltar um tecla*/

/* =============== EVENTOS DO MOUSE ======================*/
<a onclick="">/*dispara com o clique do mouse*/
<a ondblclick="">/*dispara após dois cliques do maouse*/
<a ondrag=""> /*dispara quando o elemneto é arrastado*/
<a ondragener=""> /*dispara após largar o elemento arrastado*/
<a ondragleave=""> /*dispara está sendo arrastado pra um destino válido*/
<a ondragover=""> /*dispara quando o elemento arrastado está sobre o destino válido*/
<a ondragstart=""> /*dispara no início de uma operação de arrastar*/
<a ondrop=""> /*dispara quando o elemento arratado é descartado*/
<a onmousedown=""> /*dispara quando o ponteiro do mouse move-se para baixo */
<a onmouseup=""> /*dispara quando o pnteiro do mouse move-se para cima*/
<a onmousemove="" /*dispara quando o ponteiro do mouse se move sobre o elemento*/
<a onmouseout=""> /*dispara quando o ponteiro do mouse move-se para fora do elemento*/
<a onmouseover=""> /*dispara quando o ponteiro do mouse se move sobre o elemento*/
<a onmousewheel=""> /*dispar aquando a rolagem do mouse é acionada*/
<a onscroll=""> /*dispara quando a barra de rolagem de um elemento é acionada*/

/* =============== EVENTOS De MÍDIA ======================*/
<a oncanplay=""> /*dispara quando um buffer está completo*/
<a oncanplaythrough=""> /*dispara quando um arquivo pode ser lido até o fim sem parar para buffer*/
<a ondurationchange=""> /*dispara quando finaliza as mudanças no suporte*/
<a onemptied=""> /*dispara quando algum erro acontece*/
<a onended=""> /*dispara quando uma leitura de arquivo chaga ao fim*/
<a onerror=""> /*dispara quando há um erro de leitura do arquivo*/
<a onloadeddata=""> /*dispara quando dados carregados estão completos*/
<a onloadedmetadata=""> /*dispara quando meta dados são carregados*/
<a onloadstart=""> /*dispara quando o arquivo começa a carregar*/
<a onpause=""> /*dispara quando a mídia está em pausa*/
<a onplay=""> /*dispara qunado a mídia inicia com o play*/
<a onplaying=""> /*dispara qunado inicio foi dado*/
<a onprogress="" /* dispara o navegador começa a carregar os dados da midia*/
<a onratechange="" /*dispra quando é alterao a taxa de reprodução*/
<a onreadystatechanger=""> /*dispara quando há mudanças no estado da mídia*/

/*=========PSEUDO-CLASSES ========================*/
a:link {}/*seleciona todos os links não visitados*/
a:visited {} /*seleciona todos os links visitados*/
a:active {}/*seleciona o link ativo*/
a:hover { text-decoration:none;}/*qunado se passar o mouse sobre o elemento*/
a:focus { color: #aaa;} /*seleciona o elemento em foco*/
a:first-letter {} /*seleciona a primeira letra do elemento*/
a:first-line {} /*seleciona aprimeira linha do elemento*/
a:firt-child {} /*seleciona o primero filho do elemento*/
a:before {} /*insere o conteúdo antes do elemento*/
a:after {} /*insere conteúdo depois do elemento*/
a:lang {}/*seleciona todos os elemento com valor lang*/

/*========== ATRIBUTOS GLOBAIS ==========*/
<body accesskey=""> /*especifica um atecla de atalho para o elemento*/
<body class=""> /*especifica uma classe*/
<body contenteditable=""> /*especifica se um elemento é editável ou não*/
<body contentcontentmenu=""> /*especifica o menu de contexto (o menu aparece quando o usuário clica sobre o elemento)*/
<body data_*=""> /*armazena dados para página ou aplicsativos*/
<body dir=""> /*especifica a direção do texto para o conteúdo*/
<body draggable=""> /*Especifica se um elemento é arrastável ou não*/
<body dropzone=""> /*especifica se os dados arrastados são: copia, movido ou vinculado*/
<body hidden=""> /* especifica se um elemento é relevante ou não*/
<body id=""> /*define um identidade para o elemento*/
<body lang=""> /*especifica o idioma do conteúdo do elemento*/
<body spellcheck=""> /*especifica se o elemento tem sua ortografia e gramática marcado ou não*/
<body style=""> /*Especifica um estilo CSS paar o elemento*/
<body tabindex=""> /*especifica a ordem de tabulação do elemento*/
<body title=""> /*especifica uma informaçãom adicional para o elemento*/
<body translate=""> /*especifica se o conteúdo do elemento deve ser traduzido ou não*/


<a>/*cria um link*/
<abbr title="nome por extenso da abreviação">/*usado para abreveaturas tipo NASA U.S.A.*/
<adress> /*informações autor se dentro de <article> ou informações de contato se dentro de footer*/
<area> /*define área dentro de um mapa-imagem <map> imagem com áreas clicáveis*/
<article> /*conteúdo independente*/
<aside> /*define conteúdo circundande ao article(normalmente uma barra lateral)*/
<audio> /*suporta MP3, WAV e OGG*/
<audio autoplay="">/* o audio começa assim que estiver carregado*/
<audio controns=""> /*exibe os controles de audio(play, pause e stop)*/
<audio loop=""> /*especifica que ao final o audio inicia*/
<audio muted=""> /*silencia a saída de audio*/
<audio preload=""> /*define a forma como o audio carrega junto ao caregamento da página*/
<audio src=""> /*define o link para o audio a ser reproduzido*/
<b> /*define negrito*/
<base> /*marcação dentro da tag <head> especifica o caminho para url, transfora como caminho padrão pra tocadas urls do documento*/
<bdi> /*formata uma parte do texto em direção diferente*/
<bdo> /*formata a direção do texto atual <bdo dir="ltr" ou dir="rtl"> */
<blockquote cite="url"> /*especifica uma citação de outra fonte*/
<button> /*botão clicavel*/
<canvas> /*ambiente pra gráficos*/
<caption> /*Cabeçálho/legenda para tabelas*/
<cite> /*define título de uma obra*/
<datalist>/*define uma lista drop-down de dados pra <input> semelhante ao <select>*/
<details>/*tag pra conteúdo detalhado acerca de algo como um livro e assim por diante*/
<dialog> /*exibe uma ciaxa de diálogo popup*/
<em> /*enfatizar o texto*/
<strong> /*texto importante*/
<span> /*mudança visual no texto*/
<cite> /*define título de uma obra, livro, quadro, escultura*/
<q> /*breve citação*/
<small> /*texto menor*/
<mark> /*marcador de texto*/
<pre> /*define a formatação de um texto de cpmoutador, ou atributos de um texto pre formatado*/
<embed> /*recipiente para conteúdo interativo (um plug-in flash por exemplo, ou SVG)*/
<fieldset> /*agrupar elementos de um formulário*/
<figure> /*detinado para conteúdos como ilustrção, fotos, diagramas, listas de cógigos*/
<figcaption> /*título/legenda para um figure*/
<form> /*habilita um formulário*/
<footer> /*cria um roda-pé*/
<header> /*cabeçálho de um documento,seção, ou artigo*/
<hr> /*define uma ruptura temática, mudânça de tópico*/
<iframe> /*incorpora um outro documento html dentro de uma janela*/
<img> /*insere uma imagem*/
<input> /*entrada de dados*/
<keygen> /*gera códigos de chave para formulários*/
<label> /*define rótulo/título para input*/
<legend> /*define uma legenda/ título/cabeçálho para agrupamento <fildset> */
<li> /*item de um lista*/
<main> /*especifica conteúdo principal em um doumento*/
<map> /*cria um mapa de imagem (map-imagem) imagem com áreas clicáveis*/
<meter> /*especifica uma medição escalar*/
<nav> /*links de navegação*/
<object> /*incorpora áudio, vídeo, applets, java, activex, pdf e flash ao html*/
<optgroup> /*agrupa tags <option>*/
<output> /*saída de dados, como o resultado de um cálculo*/
<p> /*paragrafo*/
p:first-letter {} /*seleciona a primeira letra de cada paragrafo <p>*/
p:first-line {} /*seleciona a primeira linha de cada paragrafo <p>*/
p:first-child {} /*seleciona todos os primeiros paragrafo <p> filho*/
p:before {} /*insere o conteúdo antes de cada pragrafo <p>*/
p:after {} /*insere conteúdo depoius de cada paragrafo <p>*/
<progress> {} /*progesso de uma tarefa*/
<section> /*define seções de um documento como cabeçálhos, capítulos radapés*/
<source> /*especifica recursos para áudio e video*/
<sub> /*texto subescrito*/
<sup> /*texto sobrescrito*/
<summary> /*título visível para detalhes*/
<table> /*tabela*/
<thead> /*titulo/cabeçálho em uma tabela*/
<tbody> /*corpo de uma tabela*/
<tfoot> /*rodapé em uma tabela*/
<tr> /*linha em uma tabela*/
<th> /*célula de título/cabeçálho da tabela*/
<td> /*célula normal em tabela*/
<textarea> /*entrada de texto multi linha*/
<time> /*especifica horas em linguagem programada pra computadores*/
<ul>
<u> /*usa-se onde o texto precisa ser diferenciado*/
<video>
<track> /*define lista de texto para tag <video>*/
